<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4uEGPzIvzK2I7Rxw6_kgnTq4LHGA4cqg</string>
	<key>GCM_SENDER_ID</key>
	<string>750258662301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.Prince.ChatApp-main</string>
	<key>PROJECT_ID</key>
	<string>chat-app-demo-f33c3</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-demo-f33c3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750258662301:ios:3d9199dbec03fb26d6dd74</string>
</dict>
</plist>